<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blade Runner</title>
  <script src="blade_runner/websocket/client.js" data-websocket></script>

  <% with_asset("index.js", :blade_runner) do %>
    <script src="blade_runner.js"></script>
  <% end %>

  <%= render_asset("head.html", :user) %>

  <% with_asset("index.css", :adapter) do %>
    <link rel="stylesheet" type="text/css" href="blade_runner/adapter.css">
  <% end %>

  <% with_asset("index.js", :adapter) do %>
    <script src="blade_runner/adapter.js"></script>
  <% end %>

  <%= render_asset("head.html", :adapter) %>

  <% logical_paths(:js).each do |path| %>
    <% with_asset(path, :user) do %>
      <script src="<%= path %>"></script>
    <% end %>
  <% end %>
</head>
<body>
  <%= render_asset("body.html", :user) %>
  <%= render_asset("body.html", :adapter) %>
</body>
</html>
